/*-------------------------------
               BASE
--------------------------------*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  /* background-color: silver; */
}

/*-------------------------------
         LAYOUT MOBILE
--------------------------------*/

#container {
  margin: auto;
  max-width: 960px;
}

header {
  position: relative;
  height: 180px;
  box-shadow: 0 4px 0.3125rem rgba(0,0,0,.3);
  background: url(../images/header.png);
  background-size:cover;
}

header h1 {
  position: absolute;
  top: 3rem;
  left: 3rem;
  font-size: 1.5rem;
  color:#DEB887;
}
header p {
  position: absolute;
  top: 5rem;
  left: 3rem;
  font-size: 1rem;
  color:#DEB887;
}


/***** Navi *******/
#button {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
}
#button a {
  color:#D2B48C;
}
#button img {
  cursor: pointer;
  width: 1.8rem;
}

#lists {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  background-color: #008BBB;
  box-shadow: 0 4px 0.3125rem rgba(0,0,0,.3);
  opacity: 0.85;
}
#lists li {
  width: 100%;
  border-bottom: 1px solid #87CEFA;
  list-style-type: none;
  font-size: 80%;
}
#lists li:last-child {
  border-bottom: none;
}
#lists a {
  display: block;
  padding: 1rem 0;
  color: #FFF;
  text-decoration: none;
  text-align: center;
}
#lists a:hover {
  background: #8FBC8F;
}

#lists .subLists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-top: 1px solid #87CEFA;
  background-color:  #008BBB;
  opacity: 0.85;
}

#lists .subLists li {
  width: auto;
  margin: 0 1rem;
  border: none;
}

#lists .subLists a:hover {
  opacity: 0.5;
}


/***** MAIN ******/

main {
  display: flex;
  flex-direction: column;
}

article {
  padding: 2rem;
  text-align: justify;
  font-size: 0.85rem;
  background-color: white;
}
aside {
  padding: 2rem;
  text-align: left;
  font-size: 0.85rem;
  background-color: #EEE;
}


article h3{
  position: absolute;
  top: 20rem;
  left: 3rem;
  font-size: 1.4rem;
  color:#D2B48C;
}
article p{
  position: absolute;
  top: 23rem;
  left: 3rem;
  font-size: 1rem;
  color:#D2B48C;
}
aside p {
  margin-bottom: 1rem;
}


/***** Foot Menu *******/

#menu ul{
  display: flex;
list-style: none;
flex-wrap: wrap;
padding:0;
margin:0;
margin-bottom: 1rem;
}
#menu li{
padding: 0;
margin: 0;
}
#menu li a{
display: block;
width: 80px;
/* border-bottom: 1px dotted #555; */
text-decoration: none;
color: #555;
padding: 0px 0px 0px 20px;
margin: 0px 2px;
text-align: left;
font-size: 14px;
}
#menu li a:hover{
  font-style: italic;
}


/***** Footer *******/
footer {
  padding: 1.5rem;
  text-align: center;
  color:white;
  background: url(../images/footerimg.jpg);
  background-size:cover;
}

/*-------------------------------
      LAYOUT PC (OverWrite)
--------------------------------*/

@media only screen and (min-width: 769px) {


  #lists {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    left: 0;
  }

  #lists li {
    flex: 1;
    border-bottom: none;
    border-right: 1px solid #777;
  }
  #lists li:last-child {
    border-right: none;
  }

  #lists .subLists {
    display: none;
  }

  #lists li:hover .subLists {
    display: flex;
    position: absolute;
    top: 2rem;
    left: 0;
    width: calc(100% - 4rem);
  }

  main {
    flex-direction: row;
  }

  .img_block img{

     display: block;

     margin:auto;
    padding-top: 10rem;
    padding-bottom: 3rem;
  }

 #menu ul{
 list-style: none;
 padding-top: 30px;
 padding-left: 50px;
 margin:0;
 }
 #menu li{
 padding: 0;
 margin: 0;
 float: left;
 }
 #menu li a{
 display: block;
 width: 80px;
 border-bottom: 1px dotted #555;
 text-decoration: none;
 color: #75A9FF;
 padding: 100px 0px 0px 20px;
 margin: 0px 2px;
 text-align: left;
 font-size: 14px;
 }
 #menu li a:hover{
 background:url(画像のアドレス) no-repeat left center;
 }

p{
    clear: left;
}
  article {
    flex: 3;
    padding: 3rem;
    font-size: 1rem;
  }
  aside {
    flex: 1;
    padding: 3rem;
    font-size: 1rem;
  }

}
